<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/promo-test-drive.jpg');">
  <div class="container">
    <div class="width width--xl text--center">
      <h2 class="title title--xxl">Test drive the Lexus UX</h2>
      <div class="width width--lg">
        <p class="text--lg text--normal vpad--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dicta eligendi accusantium quibusdam iste eos cum incidunt placeat magni accusamus nemo fugiat recusandae, provident a impedit quas assumenda deleniti! Molestiae.</p>
        <div class="space--sm"></div>
        <a id="track-btn-promo-test-drive" href="{{site.test-drive.url}}" class="btn btn--white js-open-td-modal">{{site.test-drive.cta}}</a>
      </div>
    </div>
  </div>
</div>