// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  overflow: hidden;
  @include bp($lg){
    height: 90%;
    min-height: 650px;
    max-height: none;
    &--overview {
      height: 100%;
    }
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    > * {
      @include page-padding;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
    // &:before {
    //   // optional colour overlay on bg image
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-color: rgba($black,.15);
    // }
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }
  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-content;
    width: 100%;
    min-height: 100%;
    & video {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      // margin: auto;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
  }
  &__jump-down {
    position: absolute;
    left: 50%;
    bottom: $s0;
    z-index: $z-content-upper;
    $icon-size: 50px;
    display: block;
    width: $icon-size;
    height: $icon-size;
    background-image: url('../img/icons/arrow-down.svg');
    background-position: 50% 52.5%;
    background-repeat: no-repeat;
    background-size: ($icon-size/2.5);
    border-radius: 50%;
    border: 2px solid $white;
    transform: translateX(-($icon-size / 2));
    @include transition;
    &:hover {
      border-color: transparent;
      background-color: rgba($white,.4);
    }
  }
}