// all banner types on site

.title {
  // custom content headline
  font-family: $font-title-01;
  line-height: 1;
  letter-spacing: -.025em;
  font-weight: 500;
  &--color  { color: $l-black; }
  &--upper  { text-transform: uppercase; }
  // title sizes
  &--xxxl   { font-size: $s8; }
  &--xxl    { font-size: $s7; }
  &--xl     { font-size: $s6; }
  &--lg     { font-size: $s5; }
  &--md     { font-size: $s4; }
  &--sm     { font-size: $s3; }
  &--xs     { font-size: $s2; }
  &--xxs    { font-size: $s1; }
  &--xxxs   { font-size: $s0; }
  @include bp($lg){
    &--xxxl   { font-size: $s9; }
    &--xxl    { font-size: $s8; }
    &--xl     { font-size: $s7; }
    &--lg     { font-size: $s6; }
    &--md     { font-size: $s5; }
    &--sm     { font-size: $s4; }
    &--xs     { font-size: $s3; }
    &--xxs    { font-size: $s2; }
    &--xxxs   { font-size: $s1; }
  }
}

.bold-title {
  font-family: $font-title-01;
  line-height: 1;
  letter-spacing: .025em;
  font-weight: 500;
  font-size: $s6;
  text-transform: uppercase;
  @include bp($lg){ font-size: $s7; }
}

.sub-title {
  // custom content headline
  font-family: $font-title-01;
  font-size: $s1; // default size
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: .2em;
  &--lg     { font-size: $s4; }
  &--sm     { font-size: $s0; }
  @include bp($lg){
    font-size: $s2; // default size
    &--lg     { font-size: $s5; }
    &--sm     { font-size: $s1; }
  }
}


.core-title {
  // open-sans – core site typeface
  font-family: $font-core;
  font-weight: 300;
  letter-spacing: -.02em;
  // core title sizes
  &--xxxl   { font-size: $s8; line-height: 1.1; }
  &--xxl    { font-size: $s7; line-height: 1.1; }
  &--xl     { font-size: $s6; line-height: 1.2; }
  &--lg     { font-size: $s5; line-height: 1.25; }
  &--md     { font-size: $s4; line-height: 1.35; }
  &--sm     { font-size: $s3; line-height: 1.35; }
  &--xs     { font-size: $s2; line-height: 1.35; }
  &--xxs    { font-size: $s1; line-height: 1.4; }
  &--xxxs   { font-size: $s0; line-height: 1.45; }
  @include bp($lg){
    &--xxxl   { font-size: $s9; line-height: 1.1; }
    &--xxl    { font-size: $s8; line-height: 1.175; }
    &--xl     { font-size: $s7; line-height: 1.2; }
    &--lg     { font-size: $s6; line-height: 1.2; }
    &--md     { font-size: $s5; line-height: 1.3; }
    &--sm     { font-size: $s4; line-height: 1.3; }
    &--xs     { font-size: $s3; line-height: 1.3; }
    &--xxs    { font-size: $s2; line-height: 1.35; }
    &--xxxs   { font-size: $s1; line-height: 1.4; }
  }
}


.banner-title {
  display: block;
  font-family: $font-title-01;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1;
  font-size: $s7;
  margin-left: -.066em; // adjustments so the left edge lines up properly
  @include bp($lg){ font-size: $s8; }
  @include bp($xl){ font-size: $s9; }
  @include bp($xxxl){ font-size: $s10; }
  &--sm {
    font-size: $s6;
    @include bp($md){ font-size: $s8; }
    @include bp($xl){ font-size: $s9; }
  }
  .overview & {
    font-weight: 700;
    font-size: $s9;
    @include bp($md){ font-size: $s10; }
    @include bp($lg){ font-size: $s11; }
    @include bp(1300px){ font-size: $s12; }
  }
}

.banner-sub-title {
  display: block;
  font-family: $font-title-01;
  text-transform: uppercase;
  font-size: $s3;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 1;
  @include bp($lg){ font-size: $s4; }
  .overview & {
    display: inline-block;
    font-size: $s2;
    @include bp($lg){ font-size: $s3; }
    @include bp(1300px){ font-size: $s4; }
  }
}

// styles for the hr on the sub title, needs to be directly applied to element
.banner-title--hr{
  display: inline-block;
  &:after {
    content: '';
    display: block;
    background-color: $white;
    height: 2px;
    margin-top: $s-2;
    margin-bottom: $s-1;
  }
}
.banner-sub-title--hr {
  display: inline-block;
  &:before {
    content: '';
    display: block;
    background-color: $white;
    height: 2px;
    margin-top: $s-2;
    margin-bottom: $s-1;
  }
}

// title adjustments for overiew page
$banner-sub-title-indent: 0.3em;
// a wrap to adjust for the sub-title and main title alignment
.overview .banner-title__wrap{
  transform: translateX(-($banner-sub-title-indent*2));
  .banner-title { margin-left: 0; }
  .banner-sub-title { padding-left: $banner-sub-title-indent; }
}

// specific titles that appear on the design guide pages
.guide-title {
  color: $l-black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > * + * { margin-top: $s-3; }
  @include bp($lg){
    flex-direction: row;
    align-items: center;
    > * + * {
      margin-top: 0;
      margin-left: $s-1;
    }
  }
  &__time {
    display: inline-block;
    margin-top: .5%;
    padding: $s-3 $s-2;
    font-family: $font-title-02;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .075em;
    background-color: $white;
    border-radius: 5px;
    font-size: $s2;
    @include bp($lg){ font-size: $s3; }
  }
  &__place {
    font-weight: 500;
    display: inline-block;
    line-height: 1;
    font-family: $font-title-01;
    letter-spacing: -.04em;
    font-size: $s6;
    @include bp($lg){ font-size: $s7; }
  }
  &__sub {
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.005em;
    margin-top: .25em;
    font-size: $s1;
    @include bp($lg){ font-size: $s2; }
  }
}