// general styles for the project that wouldn't be a reuseable component

.home {
  min-height: 100%;
  text-align: center;
  color: white;
  background-color: $l-black;
  background-image: url('../img/content/home/bg.jpg');
  @include background-attributes;
}

.country-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: $s0;
  width: 100%;
  max-width: 600px;
}

.country {
  position: relative;
  display: inline-block;
  margin-left: 0;
  width: 50%;
  max-width: 125px;
  padding: $s1;
  @include bp($md){
    width: 33.33%;
    max-width: 200px;
  }
  &__link {
    position: absolute;
    z-index: $z-content-upper;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}