// general styles for the project that wouldn't be a reuseable component

.width {
  &--title { max-width: 580px; }
}

.inline-buttons {
  margin: -5px;
  > .btn {
    margin: 5px;
  }
}

.guide {
  max-width: 470px;
  .bold-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
}

.link {
  &:hover { text-decoration: underline; }
  &--underlined { text-decoration: underline; }
}

.bg--promo-test-drive {
  background-image: url('../img/promo-test-drive-mobile.jpg');
  @include bp($xxl){
    background-image: url('../img/promo-test-drive.jpg');
  }
}