<!-- offer variables just to make the loops more readable -->

<!-- all offers -->
{% assign offers = site.data.offers %}

<!-- offers by saving -->
{% assign offers-by-saving = offers | sort: 'saved' | reverse %}

<!-- offers by price -->
{% assign offers-by-price = offers | sort: 'price' %}

<!-- domestic offers by price -->
{% assign domestic-offers = site.data.offers | where: 'domestic', 'true' | sort: 'price' %}

<!-- Rest of the world offers by price -->
{% assign non-domestic-offers = site.data.offers | where: 'domestic', 'false' | sort: 'price' %}