---
layout: default
banner:
  content: >
    <div class="container container--no-padding">
      <div class="width--xxl">
        <h1 class="banner-title banner-title--sm">{{page.long-title}}</h1>
        <div class="space--sm"></div>
        <a href="#entry-form" class="btn btn--white btn--lg">{{page.enter-cta}}</a>
      </div>
    </div>
---

<div class="vpad--xl">
  <div class="container">
    <div class="width width--xl text--center">
      <p class="text--xxl">{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="row row--sm-4-4-4 row--no-gutters">
  <div class="col">
    <div class="bg-img bg-img--16-9 bg-img--sm-1-1 bg-img--xxxl-4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
  </div>
  <div class="col">
    <div class="bg-img bg-img--16-9 bg-img--sm-1-1 bg-img--xxxl-4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
  </div>
  <div class="col">
    <div class="bg-img bg-img--16-9 bg-img--sm-1-1 bg-img--xxxl-4-3" style="background-image: url({{site.img}}/img.jpg);"></div>
  </div>
</div>

<div id="entry-form" class="vpad--xxl bg--light">
  <div class="container">
    <div class="width width--xl text--center bg--white">
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
      <p class="text--xxl">competition selector</p>
      <p class="text--xxl">iframe: {{page.iframe-url}}</p>
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
      <div class="space--xxl"></div>
    </div>
  </div>
</div>