---
layout: default
extra-js: true
extra-css: true
---

<div class="vpad--xxl">
  <div class="container">
    <div class="width--xl">
      <p class="text--xxl">{{page.intro}}</p>
    </div>
  </div>
</div>

{% for feature in page.features %}
  <div class="width width--xxxl">
    <div id="slider-{{forloop.index}}" class="js-slider slider">
      <div class="slider__images">
        <noscript class="js-lazy-load-slider">
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/01.jpg" />
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/02.jpg" />
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/03.jpg" />
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/04.jpg" />
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/05.jpg" />
          <img class="slider__image" src="{{site.img}}/content/{{page.id}}/{{feature.id}}/06.jpg" />
        </noscript>
      </div>
      <div class="slider__btn-wrap">
        <span class="js-slider-nav slider__btn slider__btn--left" data-slider-nav-direction="prev"></span><span class="js-slider-nav slider__btn slider__btn--right" data-slider-nav-direction="next"></span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="space--lg width--xl">
      <h2 class="title title--xl title--color">{{feature.title}}</h2>
      <div class="space--xxs"></div>
      <h3 class="sub-title title--color">{{feature.location}}</h3>

      <p class="text--xl">{{feature.description}}</p>
    </div>
    {% unless forloop.last %}
      <div class="space--xxxxl"></div>
    {% endunless %}
  </div>
{% endfor %}

<div class="space--xxxxl"></div>