---
layout: default
---

<div class="vpad--xl">
  <div class="container">
    <div class="width--xl">
      <p class="text--xxl">{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="vpad--xxxl bg--light">
  <div class="container">
    {% for feature in page.features %}
      <h2 class="guide-title"><span class="guide-title__time">{{feature.time}}</span> <span class="guide-title__place">{{feature.place}}</span></h2>
      <div class="guide-title__sub">{{feature.title}}</div>
      <div class="vpad--sm">
        <div class="bg-img bg-img--1-1 bg-img--lg-3-2 bg-img--xxl-16-9" style="background-image: url('{{site.img}}/img.jpg');"></div>
      </div>
      <p class="text--xxl width--xxl">{{feature.description}}</p>
      {% unless forloop.last %}
        <div class="space--xxxxl"></div>
      {% endunless %}
    {% endfor %}
  </div>
</div>