---
layout: default

banner:
  content: >
    <div class="container container--no-padding">
      <div class="banner-title__wrap">
        <h1 class="banner-title">{{page.banner.title}}</h1>
        <h2 class="banner-sub-title banner-sub-title--hr">{{page.banner.title-sub}}</h2>
      </div>
      <div class="text--normal width--lg space--sm">
        <p class=" text--xxl">{{site.description}}</p>
        <div class="space--md"></div>
        <a id="track-feature-video-btn" href="{{site.feature-video.url}}" class="btn btn--white js-open-modal" data-open-modal="feature-video">{{site.feature-video.cta}}</a>
      </div>
    </div>
---

<div id="guides" class="vpad--xxl">
  <div class="container">
    <div class="width--xl">
      {% assign city-guides-page = site.html_pages | where: 'id', 'city-guides' | first %}
      <h2 class="title title--color title--xxl">{{city-guides-page.title}}</h2>
      <p class="text--xxl">{{city-guides-page.intro}}</p>
    </div>
    <div class="width--xxl">
      {% include page/guide-nav.html %}
    </div>
    <div class="space--xxxl"></div>
    <div class="width--lg">
      <h2 class="title title--color title--xl">Hotels</h2>
      <p class="text--xxl">Discover a handpicked selection of design-forward hotels. Book a break and be in with a chance of using the All New Lexus UX for your getaway.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/hotels" class="btn btn--sm btn--outline btn--outline-black">See All Hotels</a>
    </div>
    <div class="space--md"></div>
  </div>
</div>