---
layout: default

banner:
  content: >
    <div class="container container--no-padding">
      <div class="banner-title__offset">
        <h1 class="banner-title banner-title--overview">{{page.banner.title}}</h1>
        <h2 class="banner-sub-title banner-sub-title--overview">{{page.banner.title-sub}}</h2>
      </div>
      <div class="text--normal width--lg space--sm">
        <p class=" text--xxl">{{site.description}}</p>
        <div class="space--md"></div>
        <a href="{{site.video.url}}" class="btn btn--white js-open-modal" data-open-modal="feature-video">{{site.video.cta}}</a>
      </div>
    </div>
---

<div id="guides" class="vpad--xxl">
  <div class="container">
    <div class="width--xl">
      {% assign city-guides-page = site.html_pages | where: 'id', 'city-guides' | first %}
      <h2 class="title title--color title--xxl">{{city-guides-page.title}}</h2>
      <p class="text--xxl">{{city-guides-page.intro}}</p>
    </div>
    <div class="width--xxl">
      <div class="row row--6-6 space--lg">
        {% include page/guide-nav.html %}
      </div>
    </div>
  </div>
</div>